body {
  font: 400 14px/1.28 'Lato', Verdana, sans-serif;
  color: $black;
}

.container,
.container-fluid {
  padding-right: 24px;
  padding-left: 24px;
  @include media-breakpoint-up(md) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

// styles only for focus on a keyboard
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// reset overlay background
.modal-backdrop.show {
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $accent;
  font-size: 15px;
  text-decoration: underline;
  line-height: 1.33;

  &:hover {
    text-decoration: none;
    color: $accent;
  }
}
