mixin plants(data)
  section.plants#plants
    h2.visually-hidden Заводы
    .container
      div(role="list").plants__list.row.no-gutters
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-1.png" srcset="__static__img/content/logo-1@2x.png 2x" width="98" height="40" alt="Логотип ООО «Назаровское ГМНУ»")
            a(href="#").plants__name ООО «Назаровское ГМНУ»
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-2.png" srcset="__static__img/content/logo-2@2x.png 2x" width="60" height="65" alt="Логотип ООО «Черновский РМЗ»")
            a(href="#").plants__name ООО «Черновский РМЗ»
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-3.png" srcset="__static__img/content/logo-3@2x.png 2x" width="183" height="24" alt="Логотип ООО «СУЭК-Хакасия»")
            a(href="#").plants__name ООО «СУЭК-Хакасия»
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-4.png" srcset="__static__img/content/logo-4@2x.png 2x" width="47" height="60" alt="Логотип ООО «Бородинский РМЗ»")
            a(href="#").plants__name ООО «Бородинский РМЗ»
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-5.png" srcset="__static__img/content/logo-5@2x.png 2x" width="111" height="37" alt="Логотип ООО «Сиб-Дамель»")
            a(href="#").plants__name ООО «Сиб-Дамель»
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-6.png" srcset="__static__img/content/logo-6@2x.png 2x" width="142" height="40" alt="Логотип АО «СУЭК-Кузбасс» ПЕ Спецналадка")
            a(href="#").plants__name АО «СУЭК-Кузбасс» ПЕ Спецналадка
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-7.png" srcset="__static__img/content/logo-7@2x.png 2x" width="75" height="50" alt="Логотип АО «СУЭК-Кузбасс» ПЕ Энергоуправление")
            a(href="#").plants__name АО «СУЭК-Кузбасс» ПЕ Энергоуправление
        div(role="listitem").plants__col.col-md-3.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-8.png" srcset="__static__img/content/logo-8@2x.png 2x" width="73" height="50" alt="Логотип АО «Черногорский РМЗ»")
            a(href="#").plants__name АО «Черногорский РМЗ»
        div(role="listitem").plants__col.col-md-6.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-9.png" srcset="__static__img/content/logo-9@2x.png 2x" width="142" height="40" alt="Логотип АО «СУЭК–Кузбасс» ПЕ Технологическая связь")
            a(href="#").plants__name АО «СУЭК–Кузбасс» ПЕ Технологическая связь
        div(role="listitem").plants__col.col-md-6.col-xl-auto
          .plants__item
            .plants__logo
              img(src="__static__img/content/logo-10.png" srcset="__static__img/content/logo-10@2x.png 2x" width="72" height="50" alt="Логотип «АРМУ» ПЕ ООО «Приморскуголь»")
            a(href="#").plants__name «АРМУ» ПЕ ООО «Приморскуголь»
