mixin services(data)
  section.services#services
    .container
      h2.services__title.h2 Услуги
      .row
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Монтаж и&nbsp;наладка механизированных комплексов
            span.services__plant-name АО&nbsp;&laquo;СУЭК-Кузбасс&raquo; ПЕ&nbsp;&laquo;Спецналадка&raquo;
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт ДВС
            span.services__plant-name АО&nbsp;&laquo;Черногорский РМЗ&raquo;
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт тепловозов и&nbsp;думпкаров
            span.services__plant-name ООО &laquo;Бородинский РМЗ&raquo;
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт электрических машин для горной техники
            span.services__plant-name АО&nbsp;&laquo;Черногорский РМЗ&raquo; и&nbsp;еще 6&nbsp;заводов
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Монтаж и&nbsp;наладка горно-транспортного оборудования
            span.services__plant-name ООО &laquo;Черновский РМЗ&raquo; и&nbsp;еще 5&nbsp;заводов
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт экскаваторов
            span.services__plant-name ООО &laquo;Приморскуголь&raquo; и&nbsp;еще 5&nbsp;заводов
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт и&nbsp;ТО горно-транспортного оборудования на&nbsp;открытых горных работах
            span.services__plant-name ООО &laquo;Бородинский РМЗ&raquo; и&nbsp;еще 5&nbsp;заводов
        .col-md-6.col-xl-3.d-flex
          .services__item
            a(href="#" data-toggle="modal" data-target="#product-modal").services__name Ремонт и&nbsp;ТО горно-шахтного оборудования
            span.services__plant-name АО&nbsp;&laquo;СУЭК-Кузбасс&raquo; и&nbsp;еще 2&nbsp;завода
